@import './constants.css';

.board {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    width: var(--board-size);
    height: var(--board-size);
}