@import './constants.css';

.board {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    width: var(--board-size);
    height: var(--board-size);
}

.pawn-promotion-box {
    left: calc(.25*var(--tile-size));
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .65);
}