:root {
    --board-size : 800px;
    --tile-size : 100px;
    --piece-size: 100%;
    --white-tile-color : #ccdadf;
    --black-tile-color : #7396ac;
    --bg-color : #302e2b;
}


@media all and (max-width : 450px) {
    :root {
        --tile-size : 50px;
    }
}