.pawn-promotion-box {
    background-color: white;
    border-radius: 3px;
    display: flex;
    position: fixed;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .65);
    z-index: 200;
}

.pawn-promotion-cancel {
    width: 100px;
    height: 36px;
    border: 0;
    background-color: white;
    color: #888888;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    border-radius: 4px;
}