@import "./constants.css";

.tile {
  display: grid;
  place-content: center;
  pointer-events: none;
  position: relative;
}

.tile img {
  width: var(--piece-size);
}

.white-tile {
  background-color: var(--white-tile-color);
  background-image: url("/imgs/board/texture.png");
  width: var(--tile-size);
  height: var(--tile-size);
}

.black-tile {
  background-color: var(--black-tile-color);
  background-image: url("/imgs/board/texture.png");
  width: var(--tile-size);
  height: var(--tile-size);
}

.chess-piece {
  width: var(--tile-size);
  height: var(--tile-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--piece-size);
  transition: transform 0.1s ease-in-out;
  will-change: transform;
  z-index: 100;
  pointer-events: all;
  user-select: none;
  -webkit-user-drag: none;
}

.tile .chess-piece-status-icon {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 43px;
  height: 43px;
  z-index: 120;
  pointer-events: none;
  user-select: none;
}

.chess-piece-castle-king,
.chess-piece-castle-rook {
  transition: transform 0.24s cubic-bezier(0.22, 1, 0.36, 1) !important;
}

.chess-piece.dragging {
  transition: none !important;
  z-index: 90;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.tile-hint:not(.chess-piece-tile)::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--hint-tile-color);
  border-radius: 50%;
}

.tile-hint.chess-piece-tile::before {
  position: absolute;
  content: "";
  width: 85.6px;
  height: 85.6px;
  border: 7.2px solid var(--hint-tile-color);
  border-radius: 50%;
}

.tile-hovered {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.6);
}

.tile-selected {
  background-color: rgba(94, 215, 241, 0.9);
}

.tile-last-move-from {
  background-color: rgba(114, 189, 212, 0.9);
}

.tile-last-move-to {
  background-color: rgba(114, 189, 212);
}

.tile-classification::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--move-classification-color);
  pointer-events: none;
  z-index: 1;
}

.tile-classification-brilliant {
  --move-classification-color: rgba(84, 207, 227, 0.36);
}

.tile-classification-great {
  --move-classification-color: rgba(116, 211, 121, 0.34);
}

.white-tile.tile-classification-best {
  --move-classification-color: #AECD9C
}
.black-tile.tile-classification-best {
  --move-classification-color: #7DA880
}

.white-tile.tile-classification-book {
  --move-classification-color: #D1BFAF
}
.black-tile.tile-classification-book {
  --move-classification-color: #A8A198
}

.black-tile.tile-classification-excellent {
  --move-classification-color: #7BA880
}
.white-tile.tile-classification-excellent {
  --move-classification-color: #AACB9B
}

.black-tile.tile-classification-good {
  --move-classification-color: #85A893;
}
.white-tile.tile-classification-good {
  --move-classification-color: #B4CCAE;
}

.white-tile.tile-classification-miss {
  --move-classification-color: #EAACA8
}
.black-tile.tile-classification-miss {
  --move-classification-color: #BF8B8E
}

.white-tile.tile-classification-inaccuracy {
  --move-classification-color: #E7D495
}
.black-tile.tile-classification-inaccuracy {
  --move-classification-color: #B8B179
}

.white-tile.tile-classification-mistake {
  --move-classification-color: #EDC4A2
}
.black-tile.tile-classification-mistake {
  --move-classification-color: #BB9F86
}

.black-tile.tile-classification-blunder {
  --move-classification-color: #BB7072
}
.white-tile.tile-classification-blunder {
  --move-classification-color: #E7928A
}
