@import './constants.css';

.tile {
    display: grid;
    place-content: center;
}

.tile img {
    width: var(--piece-size)
}

.white-tile {
    background-color: var(--white-tile-color);
    background-image: url('/imgs/board/texture.png');
    width: var(--tile-size);
    height: var(--tile-size);
}

.black-tile {
    background-color: var(--black-tile-color);
    background-image: url('/imgs/board/texture.png');
    width: var(--tile-size);
    height: var(--tile-size);
}

.chess-piece {
    width: var(--tile-size);
    height: var(--tile-size);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--piece-size);
    transition: transform 0.1s ease-in-out;
    will-change: transform;
    z-index: 100;
}

.chess-piece.dragging {
    transition: none;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.tile-hint::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--hint-tile-color);
    border-radius: 50%;
}

