@import './constants.css';

.tile {
    display: grid;
    place-content: center;
}

.tile img {
    width: var(--piece-size)
}

.white-tile {
    background-color: var(--white-tile-color);
    width: var(--tile-size);
    height: var(--tile-size);
}

.black-tile {
    background-color: var(--black-tile-color);
    background-image: url('/imgs/board/clean-gray-paper.png');
    width: var(--tile-size);
    height: var(--tile-size);
}

.tile .chess-piece{
    width: var(--tile-size);
    height: var(--tile-size);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--piece-size);

}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}